.ListTaskContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
/*Colores*/

.TaskContainer:nth-child(3n + 1) {
    background-color: #1b1b12;
  }
  .TaskContainer:nth-child(3n + 2) {
      background-color: #1b1b32;
    }
    .TaskContainer:nth-child(3n + 3) {
      background-color: #1b1b52;
    }